html
{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
*, ::after, ::before 
{
    box-sizing: inherit;
}
.body{
    background-image: linear-gradient(120deg,rgba(0, 98, 128, 0.384),rgba(0, 38, 255, 0.932));
    min-height: 100vh;
}
.main{
    padding:20px;
    margin:0 auto;
}
.header{
    text-align: center;
    padding:20px;
    font-size: 45px;
    color:white;
}
.form{
    display:flex;
    justify-content: center;
    align-content: center;
}



