.todo{
    background-image: linear-gradient(45deg, rgba(118, 6, 163, 0.623) 25% , rgba(255, 0, 0, 0.288) 75%);
    min-height: 100vh;
    display:grid;
    grid-template-columns: minmax(500px,auto);
    grid-template-rows:minmax(50px,auto);
    justify-content: center;
    align-content:center;
}
.todo__SectionHeader{
    background:rgba(233, 236, 238, 0.548);
    border-radius: 3px;
}
.todo__Header{
    text-align: center;
    margin-bottom:10px;
    margin-top:10px;
    color:teal;
    font-size: 25px;
}

.todo__Input{
    margin-left:12px;
    width:83%;
    border:1px solid teal;
    outline:none;
    font-size:25px;
}
.todo__Button{
    cursor:pointer;
    transition: 0.3s ease;
    background:transparent;
    border:none;
    outline:none;
}
.todo__Button:hover{
    color:white;
    background:rgba(0, 128, 85, 0.664);
    border-radius: 1px;
}
.todo__List{
    list-style-type: none;
    padding-inline-start:15px;
}
.todo__Item{
    display: flex;
    justify-content:space-between;
    background: rgb(255, 255, 255);
    margin-bottom:5px;
    margin-right:10px;
}
.todo__Item--Done{ 
    display:none;
}
.todo__Buttons{
    display:flex;
    justify-content: center;
    margin-top:7px;
}
.todo__ButtonsContent{
     display:flex;
}
.todo__Content{
    line-break: anywhere;
    letter-spacing: 0.5px;
    font-size: 25px;
}
.todo__Content--done{
    text-decoration: line-through;
    color:red;
}
.todo__CountTasks{
    margin:5px 5px;
    padding-bottom:5px;
    color:teal;
    text-align: center;
    font-size: 25px;
    word-break: break-word;
    letter-spacing: 0.5px;
}
.todo__MarkAllDone, .todo__HideDoneTasks{
    font-size: 25px;
    color:teal;
    outline: none;
    border:none;
    background: none;
}
.todo__DoneButton{
    background:rgba(0, 128, 0, 0.637);
    color:white;
    cursor:pointer;
    outline:none;
    border:none;
    transition: 0.3s ease-in-out;
}
.todo__DoneButton:hover{
    transform: scale(1.2);
}
.todo__TrashButton{
    background:rgba(255, 0, 0, 0.637);
    color:white;
    cursor:pointer;
    outline:none;
    border:none;
    transition: 0.3s ease-in-out;
}
.todo__TrashButton:hover{
    transform: scale(1.2);
}
@media (max-width:450px){
    .todo{
        grid-template-columns: 100%;
    }
    .todo__Input{
        width:80%;
        font-size:23px;
    }
}
@media (min-width:451px) and (max-width:540px){
    .todo{
        grid-template-columns:80%;
    }
}
@media(min-width:541px ) and (max-width:768px){
    .todo{
        grid-template-columns: 75%;
    }
    .todo__Input{
        width:86%;
    }
}
@media(min-width:769px) and (max-width:1024px){
    .todo{
        grid-template-columns: 65%;
    }
    .todo__Input{
        width:88%
    }
}
@media(min-width:1025px) and (max-width:1200px){
    .todo{
        grid-template-columns: 57%;
    }
    .todo__Input{
        width:90%
    }
}